# {{ ansible_managed }}
{#

This file follows the upstream default configuration except for the parts
that are configurable via DebOps variables. If you need a more customized
setup, you can provide your own template via lookup mechanism.

#}

##
## Mailbox definitions 
##

namespace inbox {

  mailbox Drafts {
{% if 'Draft' in dovecot_auto_create_mailboxes %}
    auto = create
{% endif %}
    special_use = \Drafts
  }

  mailbox Junk {
{% if 'Junk' in dovecot_auto_create_mailboxes %}
    auto = create
{% endif %}
    special_use = \Junk
  }

  mailbox Trash {
{% if 'Trash' in dovecot_auto_create_mailboxes %}
    auto = create
{% endif %}
    special_use = \Trash
  }

  mailbox Sent {
{% if 'Sent' in dovecot_auto_create_mailboxes %}
    auto = create
{% endif %}
    special_use = \Sent
  }
  mailbox "Sent Messages" {
{% if 'Sent Messages' in dovecot_auto_create_mailboxes %}
    auto = create
{% endif %}
    special_use = \Sent
  }
}
